<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>

    <%= search_form_for @q do |f| %>
      <div class="search-form">
        <%= f.search_field :item_name_cont, placeholder: "何かお探しですか？", class: "input-box" %>
      </div>
      <%= f.label :category_id_eq, 'カテゴリーから探す' %>
      <%= f.collection_select :category_id_eq, Category.all, :id, :name %>

      <%= f.label :condition_id_eq, '商品の状態から探す' %>
      <%= f.collection_select :condition_id_eq, Condition.all, :id, :name %>
    <br>
      <%= f.label :postage_id_eq, '配送料の負担' %>
      <%= f.collection_select :postage_id_eq, Postage.all, :id, :name %>

      <%= f.label :shipping_area_id_eq, '発送元地域' %>
      <%= f.collection_select :shipping_area_id_eq, ShippingArea.all, :id, :name %>

      <%= f.label :days_to_ship_id_eq, '発送までの期間' %>
      <%= f.collection_select :days_to_ship_id_eq, DaysToShip.all, :id, :name %>

      <div class='sarch-button'>
        <%= f.submit "search", image_tag: "search.png", class: "search-icon" %>
      </div>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
    </ul>
  </div>
</header>